.about-section {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.promo {
  color: #efb61c;
  font-family: "Anton", sans-serif;
  font-style: italic;
  font-size: 80px;
  letter-spacing: 1px;
  text-shadow: 5px 5px 8px rgba(5, 22, 26, 1);
  animation: floatText 4s infinite ease-in-out;
}

.video-container {
  margin: 20px auto;
  position: relative;
}

video {
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

video:hover {
  transform: scale(1.05);
  box-shadow: 
    0 0 10px rgba(0, 255, 255, 0.8),
    0 0 20px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.4);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.overlay video {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
  box-shadow: 
    0 0 10px rgba(0, 255, 255, 0.8),
    0 0 20px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.4);
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.blurred {
  filter: blur(50px);
}

@media (max-width: 1200px) {
  .promo {
    font-size: 60px;
  }
  video {
    width: 80%;
  }
}

/* For screens up to 991px wide */
@media (max-width: 991px) {
  .promo {
    font-size: 50px;
  }
  video {
    width: 70%;
  }
}

/* For screens up to 520px wide */
@media (max-width: 520px) {
  .about-section {
    padding: 10px;
  }
  .promo {
    font-size: 35px;
  }
  video {
    width: 90%;
  }
}

/* For screens up to 371px wide */
@media (max-width: 371px) {
  .promo {
    font-size: 30px;
  }
  video {
    width: 95%;
  }
}