.about-section {
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0 auto;
}
  
  .promo {
    color: #efb61c;
    margin-top: 0%;
    bottom: 20%;
    top: 20%;
    left: 0;
    padding-top: -20;
    padding-bottom: -20;
    margin: 0;
    font-family: "Anton", sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 80px;
    text-shadow: 5px 5px 8px rgba(5, 22, 26, 1);
    animation: floatText 4s infinite ease-in-out; /* Apply animation */
    font-stretch: wider;
  }
  
  .carousel {
  
  left: 0;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1500px;
  height: 40vw;
  perspective: 2000px;
  display: flex; /* Flexbox for alignment */
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  margin: 0 auto; /* Center the carousel itself in its parent container */
  overflow: hidden; /* Prevent any content from spilling out */
  }
  
  .carousel-container {
  width: 500px;
  height: 1000px;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  position: absolute;
  /* transform-style:preserve-3d; */
  }
  
  .carousel-container img {
    position: relative;
    width: 1000px;
    height: 300px;
    border-radius: 90px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform-origin: center;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    z-index: 7;
    opacity: 100%;
  }
  .carousel-container img.active {
    position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  width: 900px;
  height: 400px;
  z-index: 20;
  opacity: 100;
  box-shadow: 
  0 0 10px rgba(0, 255, 255, 0.8),
  0 0 20px rgba(0, 255, 255, 0.6),
  0 0 30px rgba(0, 255, 255, 0.5),
  0 0 40px rgba(0, 255, 255, 0.4); 
  transition: box-shadow 0.9s ease-in-out;
  }
  
  /* Positioning each image in the 3D space */
  .carousel-container img:nth-child(1) {
    transform: rotateY(0deg) translateZ(900px); /* Increased Z distance */
  }
  
  .carousel-container img:nth-child(2) {
    transform: rotateY(60deg) translateZ(500px); /* Increased Z distance */
  }
  
  .carousel-container img:nth-child(3) {
    transform: rotateY(120deg) translateZ(400px); /* Increased Z distance */
  }
  
  .carousel-container img:nth-child(4) {
    transform: rotateY(180deg) translateZ(300px); /* Increased Z distance */
  }
  
  .carousel-container img:nth-child(5) {
    transform: rotateY(240deg) translateZ(400px); /* Increased Z distance */
  }
  
  .carousel-container img:nth-child(6) {
    transform: rotateY(300deg) translateZ(500px); /* Increased Z distance */
  }
  
  
  .carousel {
    cursor: pointer;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 100px;
    border: 2px solid white;
    box-shadow: 
    0 0 10px rgba(0, 255, 255, 0.8),
    0 0 20px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.4); 
    transition: box-shadow 0.9s ease-in-out;
  }
  
  .overlay.active {
    visibility: visible;
    opacity: 1;
  }
  
  .blurred {
    filter: blur(50px);
  }

  @media (max-width: 1200px) {
    .promo {
      font-size: 60px;
    }
  
    .carousel {
      width: 1000px;
      height: 50vw;
    }
  
    .carousel-container img {
      width: 1000px;
      height: 250px;
    }
  
    .carousel-container img.active {
      width: 800px;
      height: 350px;
    }
  }
  
  @media (max-width: 991px) {
    .promo {
      font-size: 50px;
    }
  
    .carousel {
      width: 800px;
      height: 60vw;
    }
  
    .carousel-container img {
      width: 800px;
      height: 200px;
    }
  
    .carousel-container img.active {
      width: 700px;
      height: 300px;
    }
  }
  
  
  @media (max-width: 768px) {
    .promo {
      font-size: 40px;
      text-shadow: 4px 4px 6px rgba(5, 22, 26, 1);
    }
  
    .carousel {
      width: 600px;
      height: 70vw;
    }
  
    .carousel-container img {
      width: 600px;
      height: 150px;
    }
  
    .carousel-container img.active {
      width: 500px;
      height: 250px;
    }
  }
  
  @media (max-width: 520px) {
    .about-section {
        position: relative;
        height: 150px; /* Reduce the height */
        padding: 20px 0; /* Adjust padding if needed */
        margin-bottom: -125%; /* Remove bottom margin if any */
    }

    .promo {
      font-size: 35px;
      text-shadow: 3px 3px 5px rgba(5, 22, 26, 0.8);
    }
  
    .carousel {
      width: 380px;
      height: 80vw;
    }
  
    .carousel-container img {
      width: 500px;
      height: 120px;

    }
  
    .carousel-container img.active {
      width: 200px;
      height: 160px;
    }
  }
  
  @media (max-width: 371px) {
    .promo {
      font-size: 24px;
      text-shadow: 2px 2px 4px rgba(5, 22, 26, 0.6);
    }
  
    .carousel {
      width: 280px;
      height: 100vw;
    }
  
    .carousel-container img {
      width: 280px;
      height: 80px;
    }
  
    .carousel-container img.active {
      width: 250px;
      height: 150px;
    }
  }