.register-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 400px ;
    margin-bottom: -4%;
  }
  
  .thought{
    position:absolute;
    top:-53%;
    color: #ffcc00;
    font-family: "Anton", sans-serif;
    font-style: italic;
    font-size: 60px;
    text-shadow: 5px 5px 8px rgba(5, 22, 26, 1);
    animation: floatText 4s infinite ease-in-out; 
  }
  
  .hand{
    position:absolute;
    align-items: center;
    height: auto;
    bottom: 20%;
    width: 400px;
    filter: grayscale(100%);
    filter: invert(100%);
  }
  
  .domains-container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10px;
    display: flex;
    justify-content: center;
    word-spacing: 3px;
    align-items: center;
    top: -10%;
    gap: 200px;
    position: relative;
  }
  
  .domain-box {
    position: relative;
    width: 60%;
    top: 80;
    bottom: 20%;
    background-color: #000000;
    border-radius: 15px;
    padding: 20px;
    color: #ffcc00;
    border: 1px solid #00d4d4;
    text-align: left;
    font-size: 18px;
    height: auto;
    min-height: 350px;
    box-shadow:0 0 10px rgba(0, 255, 255, 0.8),
    0 0 20px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.4) ;
  }
  
  .domain-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .domain-box ul {
    list-style-type: none;
    padding: 0;
  }
  
  .domain-box li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
  }
  
  .register-btn {
    position: relative;
    bottom: 90px;
    margin-top: 1px;
    font-size: 30px;
    width: 250px;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    background-color: #00d4d4;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 3px;
  }
  
  .register-btn:hover {
    background-color: #000000;
    color: #00d4d4 ;
    box-shadow:0 0 10px rgba(0, 255, 255, 0.8),
    0 0 20px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.4) ;
  }
  
  #bottom {
    position: absolute;
    bottom: 10px; /* Adjust as needed to move it closer to the bottom */
    left: 10px; /* Adjust as needed to move it closer to the left */
    font-size: 18px;
    color: #00d4d4;
    margin-top: -20%;
  }
  

  @media screen and (max-width: 520px) {
    .register-section {
      padding-top: 15%;
      margin-top: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .thought {
      top: -10%;
      font-size: 40px;
    }
  
    .hand {
        top: 42%;
      width: 150px;
      transform: rotate(90deg); /* Rotates the image 90 degrees */
      margin: 10px 0; /* Adds space between the two containers */
      z-index: 10; /* Ensures the image is above the sections */
    }
  
    .domains-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
      width: 100%;
      position: relative;
    }
  
    .domain-box {
      width: 90%;
      min-height: 250px;
      font-size: 16px;
      padding: 15px;
      background-color: #000000;
      color: #ffcc00;
      border-radius: 15px;
      border: 1px solid #00d4d4;
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.8),
        0 0 20px rgba(0, 255, 255, 0.6),
        0 0 30px rgba(0, 255, 255, 0.5),
        0 0 40px rgba(0, 255, 255, 0.4);
    }
  
    .domain-box h2 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .domain-box ul {
      padding-left: 20px;
    }
  
    .domain-box li {
      font-size: 16px;
    }
  
    .register-btn {
      font-size: 24px;
      width: 200px;
      height: 50px;
      bottom: -20px;
    }
  
  }
  

  @media (max-width: 371px) {
    .register-section {
      padding-top: 20%;
      margin-top: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .thought {
      top: -10%;
      font-size: 30px;
    }
  
    .hand {
        top: 42%;
      width: 150px;
      transform: rotate(90deg); /* Rotates the image 90 degrees */
      margin: 10px 0; /* Adds space between the two containers */
      z-index: 10; /* Ensures the image is above the sections */
    }
  
    .domains-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
      width: 100%;
      position: relative;
    }
  
    .domain-box {
      width: 90%;
      left: 5%;
      min-height: 250px;
      font-size: 14px;
      padding: 15px;
      background-color: #000000;
      color: #ffcc00;
      border-radius: 15px;
      border: 1px solid #00d4d4;
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.8),
        0 0 20px rgba(0, 255, 255, 0.6),
        0 0 30px rgba(0, 255, 255, 0.5),
        0 0 40px rgba(0, 255, 255, 0.4);
    }
  
    .domain-box h2 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .domain-box ul {
      padding-left: 20px;
    }
  
    .domain-box li {
      font-size: 16px;
    }
  
    .register-btn {
      font-size: 24px;
      width: 200px;
      height: 50px;
      bottom: -20px;
    }
  
  }